<nav class="sidebar" [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }">
  <div class="list-group">
    <a *ngIf="user" routerLink="/lutadores" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-hand-rock-o"></i>&nbsp;
      <span>Lutadores</span>
    </a>
    <a *ngIf="user" routerLink="/pesquisa-aleatoria" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-random"></i>&nbsp;
      <span>Pesquisa Aleatória</span>
    </a>
    <a routerLink="/verifica-categoria" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-dashboard"></i>&nbsp;
      <span>Verifique sua Categoria</span>
    </a>
    <a routerLink="/historia-ufc" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa fa-book"></i>&nbsp;
      <span>História do UFC</span>
    </a>
    <a *ngIf="user" routerLink="/users" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-users"></i>&nbsp;
      <span>Usuários</span>
    </a>
    <a routerLink="/desenvolvedores" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa fa-code"></i>&nbsp;
      <span>Desenvolvedores</span>
    </a>
  </div>
</nav>
